body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

header { /*header che tiene i 3 container*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

/*CONTAINER 1*/

.container1 { /* contenitore 1 che sta nell header*/
    background-color: #f5f5f5; 
    width: 100%;
    height: 35px;
} 

.secondo-div-container1 { /* div delle icone di sinistra*/
    float: left; 
    height: 100%;
    width: 50%;
    list-style-type: none;
    background-color: #f5f5f5;
}

#iconajordan {
    height: 18px;
    width: 18px;
    margin-left: 50px;
    float: left; 
    padding-top: 8px;
    padding-left: 2px;
}

#iconaconverse {
    height: 30px;
    width: 30px;
    margin-left: 25px;
    float: left; 
    padding-top: 3px;
}

/*MENU*/

.lineaverticale{ 
    border-right: 1px solid;
    width: 2px;
    height: 12px;
    margin: 12px;
}

#testo-menu-container1{ 
    height: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    white-space: nowrap; /*il testo non va a capo*/
}

.nav-del-menu-alto-dx{ 
    width: 50%;  
    height: 35px;   
    background-color: #f5f5f5;   
    list-style-type: none;
    float: left;
} 

.nav-del-menu-alto-dx ul{ 
    height: 100%;
    display: flex;
    float: right;
    list-style-type: none;
    padding-right: 70px;
    margin: 0;
    font-size: 13px;
}

.nav-del-menu-alto-dx ul li p:hover{ 
    color: rgb(115, 115, 115);
}

.nav-del-menu-alto-dx ul li ul { 
    background-color: #ffffff;
    position: absolute;
    display: none;
    padding: 0 10px 0 10px;
    height: auto;
    border-radius: 0 0 4% 4%;
}

.nav-del-menu-alto-dx ul li:hover ul { /*scende il menu di aiuto */
    display: block;
    z-index: 99999;
}

.nav-del-menu-alto-dx ul li ul li{
    width: 100%;
} 

.nav-del-menu-alto-dx ul li ul li:first-child{
    font-weight: bold;
} 

.nav-del-menu-alto-dx ul li ul li p{
    font-size: 13px;
}  

/*FINE MENU*/

/*CONTAINER 2*/

.container2 {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
}

#logonike-principale{
    height: 30px;
    width: 65px;
    float: left;
    padding-top: 13px;
    padding-left: 50px;
} 

.container-logo-nike{ /*qui c'è il logo nike nel secondo container*/
    background-color: #ffffff;
    height: 100%;
    float: left;
    width:20%;
} 

.nav-menu-container-2{ /*qui ce il menu centrale del secondo container*/
    background-color: #ffffff;
    height: 100%;
    float: left;
    width:60%;
}

.div-menu-searchbar-2{
    background-color: #ffffff;
    height: 100%;
    float: right;
    width:20%;
} 

/* INIZIO MENU*/

.ul-menu-2{ /*contenitore dentro al nav*/
    height: 100%;
    width: 80%;
    display: flex;
    float: right;
    background-color: #ffffff;
    margin: 0 10% 0 10%;
    list-style-type: none;
} 

#menu-orizzontale-2 {
    min-width: 155px;
    margin-left: 20%;  
}  

.ul-menu-2 li{
    padding: 0 5px 0 5px; 
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
} 

.asd:hover{ /*sottolineatura menu 2*/ 
    text-decoration: underline;
    text-decoration-thickness: 2px; /*spessore*/
    text-underline-offset: 8px; /*più in basso */
} 

.ul-menu-2 li{
    position: relative;
}

.ul-menu-2 li div{
    display: none; 
    background-color: #ffffff;
    height: 400px;
    width: 100vw; /*larghezza della pagina*/
    position: fixed; /* per farlo stare a sinistra*/
    left: 0; /*per iniziarlo da sinistra */
    float: right;
    z-index: 99999;
}

.ul-menu-2 li:hover div{
    display: block; 
}

#div-2-menu-orizzontale-2{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 5% 0 5%
}

.ul-menu-2 li div ul {
    display: flex;
    float: left;
    background-color: #ffffff;
    height: 380px;
    width: 180px;
    list-style-type: none;
    margin: 5px;
    flex-direction: column; /*incolonna i figli li*/
    padding: 50px 3px 0 3px;
    height: auto;
}

#primo-ul-di-menu-orizzontale{
    width: 200px;
}

.ul-menu-2 li div ul li{
    height: 25px;
    width: 100%;
    background-color: #ffffff;
    margin: 2px 0 2px 0;
    font-weight: 100; /* spessore*/
    padding: 0; 
    font-size: 12px;
}

.ul-menu-2 li div ul li p{
    margin: 0;
    color: rgb(115, 115, 115)
}

.ul-menu-2 li div ul li p:hover{
    color: black;
}

.ul-menu-2 li div ul li:first-child{ /*titoli del menu 2*/
    font-weight: 600;
    font-size: 14px;
}

/*SEARCHBAR*/

#div-icona-carrello{
    float: left;
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 12px 0px 13px 10px; 
}

#div-icona-carrello:hover {
    background: #e5e5e5;
}

#icona-carrello{
    height: 24px;
    width: 28px;
    margin-top: 4px;
    margin-left: 4px;
}

#div-icona-preferiti{
    float: left;
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 12px 0 13px 0; 
}

#div-icona-preferiti:hover {
    background: #e5e5e5;
}

#icona-preferiti{
    height: 24px;
    width: 24px;
    margin-top: 6px;
    margin-left: 5px;
}

#searchbar-container{
    float: left;
    background-color: #ffffff;
    height: 100%;
    width: 160px;
    margin-left: 50px;
}

#searchbar{
    background-color: #f5f5f5;
    height: 35px;
    width: 150px;
    border-radius: 17px 17px 17px 17px ;
    margin: 12px 0 13px 0; 
}

#searchbar:hover {
    background: #e5e5e5;
}

#searchbar p{
    float: right;
    margin: 8px 65px 0 0 ;
    color: #707072;
    font-weight: bold;
}

#div-icona-cerca{
    background-color: #f5f5f5;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#div-icona-cerca:hover{
    background: #cacacb;
}

#icona-cerca{
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-left: 5px;
}

/*CONTAINER 3*/

.container3 {
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
} 

#pagina-scura{
    height: 150vh;
    width: 100%;
    background-color: #0000006c;
    z-index: 2;
    position: absolute;
    display: none;
}

#menu-tendina-carrello{
    height: 270px;
    max-height: auto;
    width: 350px;
    background-color: #ffffff;
    z-index: 3;
    position: absolute;
    right: 0;
    margin-right: 45px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: none;
    flex-direction: column; 
}

#div-titolo-menu-carrello{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: start;   
    align-items: center;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

#div-titolo-menu-carrello img{
    height: 24px;
    width: 24px;
    margin-left: 20px;
    margin-right: 5px;
}

#esci-dal-carrello{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0;
    background-color: #e5e5e5;;
    display: flex;
    justify-content: start;   
    align-items: center;
    margin-left: 110px;
}

#esci-dal-carrello:hover{
    background-color: #b1b1b1;
}

#esci-dal-carrello img{
    height: 17px;
    width: 17px;
    margin: 0;
}

#riepilogo-carrello{
    height: 45%;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    justify-content: start; 
    align-items: center;
}

#riepilogo-carrello img{
    height: 80px;
    width: 80px;
    object-fit: cover; 
    margin: 0 35px 0 20px;
}

#div-container-p-carrello{
    margin: 0 0 0 20px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;  
    height: 100px;
    width: 160px;
}

#riepilogo-carrello p{
    margin: 5px 0 5px 0;
    cursor: pointer;
}

#btn-visualizza-carrello{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    height: 50px;
    width: 150px;
    margin: 12px 3px 13px 15px; 
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0.5px solid #b6b6b6; 
    cursor: pointer;
}

#btn-visualizza-carrello a{
    text-decoration: none;
    color: inherit;
}

#btn-visualizza-carrello:hover{
    border: 0.5px solid #000000; 
    cursor: pointer;
}

#btn-pagamento{
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    height: 50px;
    width: 150px;
    margin: 12px 0 13px 10px; 
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0;
    cursor: pointer;
}

#btn-pagamento a{
    text-decoration: none;
    color: inherit;
}

#btn-pagamento p{
    color: #ffffff;
}

#btn-pagamento:hover{
    background-color: rgb(59, 59, 59);
}

/*FINE HEADER*/

/*IMMAGINI*/

#container{
    background-color: rgb(255, 255, 255);
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#container-vh-pagina{
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 1100px;
    margin-top: 70px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_gallery */
/*PASSAGGIO SULLE IMMAGINI*/
 
#div-container-sinistra-thumbnails{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    float: left;
    margin: 0 5px 0 20px;
    padding-left: 5px;
    height: 650px;
    width: 70px;
} 

.column{
    width: 65px;
    height: 65px;
    margin: 5px 0 5px 0;
    position: relative
} 

.column img{
    width: 65px;
    height: 65px;
    border-radius: 5px;
    object-fit: cover; 
    cursor: pointer;
}

.overlay { /*OPACITA ALLE IMMAGINI*/
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(209, 209, 209, 0.199);
    pointer-events: none; /* Permette l'interazione con gli elementi sottostanti */
    border-radius: 5px;
}

.mySlides .overlay{
    margin: 5px;
}

/* #icona-video{ 
    position: absolute;
    z-index: 1; 
    height: 25px;
    width: 25px;
    margin: 39px 0 0 5px;
} */

#div-centro-immagine { /*COLORARE DI OPACO LEGGERMENTE*/
    background-color: rgb(255, 255, 255);
    float: left;
    width: 550px;
    height: 650px;
    padding: 5px;
    position: relative;
} 

#div-centro-immagine div{
    width: 550px;
    height: 650px;
} 

#div-centro-immagine div img{
    width: 550px;
    height: 650px;
    border-radius: 5px;
} 

#div-centro-immagine div video{
    width: 550px;
    height: 650px;
    z-index: 0;
    object-fit: cover; 
    border-radius: 5px;
}

#valutazione{
    height: 50px;
    width: 200px;
    cursor: pointer;
    position: absolute; 
    font-size: 17px;
    z-index: 1;
    background-color: #d1d1d167;
    margin: 20px 0 0 20px;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;   
    align-items: center;
    border: 0;
}

#stella, #cuore{
    height: 24px;
    width: 24px;
}
  
.prev,.next {
    cursor: pointer;
    position: absolute; 
    padding: 16px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    z-index: 1;
    background-color: #d1d1d167;
    border-radius: 50% 50% 50% 50%;
    height: 35px;
    width: 35px;
    padding: 0;
}

.prev svg, .next svg {
    align-items: center;
    padding: 5px 0 0 5px;
}

.next {
    right: 30px;
    bottom: 30px;
    
}

.prev {
    right: 75px;
    bottom: 30px;
}
  
.prev:hover,.next:hover {
    background-color: #9494946e;
} 
  
.demo:hover {
    opacity: 0.6;
}
   
/*da JS quando masso sull'immagine cambia classe in active*/
.active:hover {
    opacity: 1;
} 

#div-contenitore-destra{
    background-color: rgb(255, 255, 255);
    float: left;
    height: 650px;
    width: 300px;
    flex-direction: column;
    margin-left: 20px;
}

#titolo-e-descrizione{
    background-color: #ffffff;
    height: 100px;
    width: 200px;
    margin-left: 10px;
}

#titolo-e-descrizione h3{
    margin: 23px 0 10px 0 ;
} 

#titolo-e-descrizione p{
   font-size: 17px;
   margin: 5px 0 17px 0 ;
}

#div-bordo-rosso{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ffffff00; 
}

#misura1 {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100px;
    float: left;
    margin: 5px 5px 5px 5px;
}

#misura1 p{
    font-size: 14px;
    margin-left: 5px;
}

#misura2 {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 130px;
    float: left;
    margin: 5px 5px 5px 30px;
}

#misura2 p{
    font-size: 14px;
    color: #979797;
    cursor: pointer;
}

#seleziona-dimensione{
    height: 360px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}

#seleziona-dimensione ul{
    height: 100%;
    width: 100%;
    padding: 0;
}

#seleziona-dimensione ul li{
    list-style: none;
    float: left;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    height: 40px;
    width: 30%;
    border: 0.5px solid #b6b6b6; 
    border-radius: 4px;
    display: flex;
    justify-content: center;   
    align-items: center;
}

#seleziona-dimensione ul li:hover{
    border: 0.5px solid #000000; 
}

#seleziona-dimensione ul li p{
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;   
    align-items: center;
}

#aggiungi-al-carrello{
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    height: 50px;
    width: 260px;
    margin: 12px 0 13px 20px; 
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;   
    align-items: center;
    border: 0;
    cursor: pointer;
}

#aggiungi-al-carrello p{
    color: #ffffff;
    font-size: 17px;
}

#aggiungi-al-carrello:hover{
    background-color: rgb(59, 59, 59);
}

#aggiungi-ai-preferiti{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    height: 50px;
    width: 260px;
    margin: 12px 0 13px 20px; 
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;   
    align-items: center;
    border: 0.5px solid #b6b6b6; 
    cursor: pointer;
}

#aggiungi-ai-preferiti p{
    color: #000000;
    font-size: 17px;
}

#aggiungi-ai-preferiti:hover{
    border: 0.5px solid #000000; 
}


